<a href="https://colab.research.google.com/github/pupba/Learning/blob/main/2023_%EC%A0%84%ED%8C%8C%EB%B6%84%EC%84%9D_%EC%84%B8%EB%AF%B8%EB%82%98/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np

#누락 데이터

In [ ]:
float_data = pd.Series([1.2,-3.5,np.nan,0])
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [ ]:
string_data = pd.Series(["aardvark",np.nan,None,"avocado"])
print(string_data,end="\n\n")

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

# NA 처리 메서드

In [ ]:
print("1. dropna()\n",string_data.dropna(),end="\n\n")
print("2. fillna()\n",string_data.fillna(0),end="\n\n")
print("3. isna()\n",string_data.isna(),end="\n\n")
print("4. notna()\n",string_data.notna(),end="\n\n")

1. dropna()
 0    aardvark
3     avocado
dtype: object

2. fillna()
 0    aardvark
1           0
2           0
3     avocado
dtype: object

3. isna()
 0    False
1     True
2     True
3    False
dtype: bool

4. notna()
 0     True
1    False
2    False
3     True
dtype: bool

# 누락 데이터 골라내기

In [ ]:
data = pd.Series([1,np.nan,3.5,np.nan,7])
print(data.dropna(),end='\n\n')
# data.dropna()와 동일
print(data[data.notna()])

0    1.0
2    3.5
4    7.0
dtype: float64

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data = pd.DataFrame([[1.,6.5,3.],[1.,np.nan,np.nan],[np.nan,np.nan,np.nan],[np.nan,6.5,3.]])
print(data,end='\n\n')
print(data.dropna(),end='\n\n')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0

In [ ]:
# how="all" 옵션을 넘기면 모든값이 NA인 행만 제외
print(data.dropna(how="all"),end='\n\n')
# axis="columns" 옵션을 넘기면 열의 모든 값이 NA인 열만 제외
print(data.dropna(axis="columns"))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
# thresh 인수를 사용하면 결측치가 특정 개수보다 적은 행만 보여줌
df = pd.DataFrame(np.random.standard_normal((7,3)))
df.iloc[:4,1] = np.nan # index 0~3까지인 1열
df.iloc[:2,2] = np.nan # index 0~1까지인 2열

print(df,end='\n\n')
print(df.dropna(thresh=2)) # 결측치가 2개보다 적은 행

          0         1         2
0  1.634277       NaN       NaN
1 -0.085532       NaN       NaN
2  1.020710       NaN -0.736352
3 -1.213489       NaN -0.011140
4 -1.409602  1.631626  0.842160
5  0.006697  2.972183 -0.919767
6  0.764403  0.164765 -0.383764

          0         1         2
2  1.020710       NaN -0.736352
3 -1.213489       NaN -0.011140
4 -1.409602  1.631626  0.842160
5  0.006697  2.972183 -0.919767
6  0.764403  0.164765 -0.383764

# 결측치 채우기

In [ ]:
# 0으로 채우기
print(df.fillna(0),end='\n\n')
# 1열은 0,5, 2열은 0으로 채우기
print(df.fillna({1:0.5,2:0}))

          0         1         2
0  1.634277  0.000000  0.000000
1 -0.085532  0.000000  0.000000
2  1.020710  0.000000 -0.736352
3 -1.213489  0.000000 -0.011140
4 -1.409602  1.631626  0.842160
5  0.006697  2.972183 -0.919767
6  0.764403  0.164765 -0.383764

          0         1         2
0  1.634277  0.500000  0.000000
1 -0.085532  0.500000  0.000000
2  1.020710  0.500000 -0.736352
3 -1.213489  0.500000 -0.011140
4 -1.409602  1.631626  0.842160
5  0.006697  2.972183 -0.919767
6  0.764403  0.164765 -0.383764

In [ ]:
df = pd.DataFrame(np.random.standard_normal((6,3)))
df.iloc[2:,1] = np.nan
df.iloc[4:,2] = np.nan
print(df.fillna(method="ffill"),end='\n\n')
print(df.fillna(method="ffill",limit=2))

          0        1         2
0 -0.015225 -0.15222 -0.372886
1 -0.717800  0.42898  1.676308
2  2.038295  0.42898 -3.266188
3  1.379114  0.42898  1.090087
4 -2.372344  0.42898  1.090087
5  2.132028  0.42898  1.090087

          0        1         2
0 -0.015225 -0.15222 -0.372886
1 -0.717800  0.42898  1.676308
2  2.038295  0.42898 -3.266188
3  1.379114  0.42898  1.090087
4 -2.372344      NaN  1.090087
5  2.132028      NaN  1.090087

In [ ]:
data = pd.Series([1.,np.nan,3.5,np.nan,7])
# data의 평균으로 결측치 채우기
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

# 중복 제거

In [ ]:
data = pd.DataFrame({"k1":["one","two"]*3 + ["two"],
                     "k2":[1,1,2,3,3,4,4]})
print(data)

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
# 각 행이 중복인지 확인
print(data.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
print(data.drop_duplicates())

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
print(data.drop_duplicates())

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [ ]:
data["v1"] = range(7)
print(data,end="\n\n")
print(data.drop_duplicates(subset=["k1"]))

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

    k1  k2  v1
0  one   1   0
1  two   1   1

In [ ]:
# 마지막에 발견된 값을 반환
print(data.drop_duplicates(["k1","k2"],keep="last"))

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

# 함수와 매핑을 통한 데이터 변환

In [ ]:
data = pd.DataFrame({"food":["bacon","pulled pork","bacon",
                             "pastrami","corned beef","bacon",
                             "pastrami","honey ham","nova lox"],
                     "ounces":[4,3,12,6,7.5,8,3,5,6]})
print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
# 육류의 원재료를 알려주는 열을 추가
meat_to_animal = {
    "bacon":"pig",
    "pulled pork":"pig",
    "pastrami":"cow",
    "corned beef":"cow",
    "honey ham":"pig",
    "nova lox":"salmon"
}
# map 함수를 사용해 원재료 열 추가
data["animal"] = data["food"].map(meat_to_animal)
print(data)

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
# 함수 사용
print(data["food"].map(lambda x:meat_to_animal[x]))

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

# 값 치환하기

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                    index=["Ohio","Colorado","New York"],
                    columns=["one","two","three","four"])
# 축 색인에도 map 메서드가 존재함.
# 이렇게 변경된 축 이름을 바로 적용가능
data.index = data.index.map(lambda x:x[:4].upper())
print(data)

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
# rename 원래 객체를 변경하지 않고 새로운 객체를 생성
print(data.rename(index=str.title,columns=str.upper))
# 딕셔너리 객체를 이용해 일부 축 이름만 변경할 수 있음
print(data.rename(index={"OHIO":"INDIANA"},columns={"three":"peekaboo"}))

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11
         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

# 이산화

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins = [18,25,35,60,100]
# 18~25, 26~35, 36~60, 61 이상인 그룹
age_categories = pd.cut(ages,bins)
print(age_categories,end="\n\n")
# 그룹의 카테고리 코드
print(age_categories.codes,end="\n\n")
# 그룹의 카테고리
print(age_categories.categories,end="\n\n")
# 첫번째 카테고리
print(age_categories.categories[0],end="\n\n")

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

[0 0 0 1 0 0 2 1 3 2 2 1]

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

(18, 25]

In [ ]:
# 그룹의 개수
print(pd.value_counts(age_categories))

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
# 소괄호, 대괄호 위치 변경
print(pd.cut(ages,bins,right=False),end="\n\n")
# 그룹의 이름 변경
group_names = ["Youth","YoungAdult","MiddleAged","Senior"]
print(pd.cut(ages,bins,labels=group_names),end="\n\n")
# 그룹을 4개로 나누는 경우
# 0~1사이의 20개의 랜덤 배열 반환
data = np.random.uniform(size=20)
# 소수점 아래 두 자리까지로 제한
print(pd.cut(data,4,precision=2))

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64, left]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

[(0.26, 0.5], (0.5, 0.74], (0.5, 0.74], (0.26, 0.5], (0.5, 0.74], ..., (0.015, 0.26], (0.26, 0.5], (0.5, 0.74], (0.015, 0.26], (0.26, 0.5]]
Length: 20
Categories (4, interval[float64, right]): [(0.015, 0.26] < (0.26, 0.5] < (0.5, 0.74] < (0.74, 0.98]]

In [ ]:
# 1000개의 표준정규분포
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data,4,precision=2)
print(quartiles,end="\n\n")
# 그룹 개수
print(pd.value_counts(quartiles))
# 사분위수 직접 지정
print(pd.qcut(data,[0,0.1,0.5,0.9,1.]).value_counts())

[(-3.1799999999999997, -0.69], (0.00015, 0.7], (0.00015, 0.7], (-0.69, 0.00015], (0.7, 2.75], ..., (-3.1799999999999997, -0.69], (-3.1799999999999997, -0.69], (-0.69, 0.00015], (0.7, 2.75], (0.7, 2.75]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.1799999999999997, -0.69] < (-0.69, 0.00015] < (0.00015, 0.7] <
                                           (0.7, 2.75]]

(-3.1799999999999997, -0.69]    250
(-0.69, 0.00015]                250
(0.00015, 0.7]                  250
(0.7, 2.75]                     250
dtype: int64
(-3.175, -1.277]      100
(-1.277, 0.000149]    400
(0.000149, 1.31]      400
(1.31, 2.755]         100
dtype: int64

# 이상치 찾기

In [ ]:
data = pd.DataFrame(np.random.standard_normal((1000,4)))
print(data.describe(),end="\n\n")
# 일부가 조건에 만족하는 경우
# 절댓값이 3보다 큰 값이 하나라도 있는 경우
print(data[(data.abs()>3).any(axis="columns")])

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.003608    -0.030810    -0.019863    -0.013444
std       1.001350     0.948102     0.982563     0.996222
min      -3.547301    -2.772028    -3.656514    -2.903346
25%      -0.710090    -0.669556    -0.699636    -0.725074
50%      -0.001962    -0.001981    -0.020513    -0.004829
75%       0.697626     0.554227     0.637673     0.650469
max       3.123752     2.499631     3.603715     3.179029

            0         1         2         3
296  0.084566 -2.358280 -3.656514  0.281972
671  1.277194  0.130763  3.603715  0.028053
684 -0.068062 -1.053599 -1.152395  3.179029
940  3.123752  0.183037  0.534826 -0.607294
952 -3.547301  2.486437 -0.295198 -0.470539
980  1.011293 -0.118783 -3.028132  0.595613

In [ ]:
# 전부가 조건에 만족하는 경우
# 모든 열의 절댓값이 1보다 큰 값인 경우
print(data[(data.abs()>1).all(axis="columns")])

            0         1         2         3
369 -1.116943  1.527782  1.733598 -1.859524
566 -1.375834 -1.088336  1.214686  1.028193
624 -1.546345 -1.783116  1.256663  1.598327
633  1.668501 -1.447754  1.307928 -1.391682

In [ ]:
data[data.abs() > 3] = np.sign(data) * 3
print(data.describe(),end="\n\n")
print(np.sign(data).head())

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.003184    -0.030810    -0.019782    -0.013623
std       0.999180     0.948102     0.978212     0.995664
min      -3.000000    -2.772028    -3.000000    -2.903346
25%      -0.710090    -0.669556    -0.699636    -0.725074
50%      -0.001962    -0.001981    -0.020513    -0.004829
75%       0.697626     0.554227     0.637673     0.650469
max       3.000000     2.499631     3.000000     3.000000

     0    1    2    3
0 -1.0  1.0  1.0  1.0
1  1.0 -1.0 -1.0  1.0
2  1.0 -1.0  1.0 -1.0
3  1.0 -1.0  1.0 -1.0
4  1.0  1.0  1.0 -1.0

# 뒤섞기와 임의 샘플링

In [ ]:
df = pd.DataFrame(np.arange(5*7).reshape((5,7)))
print(df,end="\n\n")
# 랜덤으로 섞인 5개의 배열
sampler = np.random.permutation(5)
# sampler 값에 맞게 인덱스 재배치
print(df.take(sampler),end="\n\n")
print(df.iloc[sampler])

    0   1   2   3   4   5   6
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
4  28  29  30  31  32  33  34

    0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
0   0   1   2   3   4   5   6
2  14  15  16  17  18  19  20
1   7   8   9  10  11  12  13
3  21  22  23  24  25  26  27

    0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
0   0   1   2   3   4   5   6
2  14  15  16  17  18  19  20
1   7   8   9  10  11  12  13
3  21  22  23  24  25  26  27

In [ ]:
column_sampler = np.random.permutation(7)
print(df.take(column_sampler,axis="columns"),end="\n\n")
print(df.sample(n=3),end="\n\n")
choices = pd.Series([5,7,-1,6,4])
print(choices.sample(n=10,replace=True))

    6   4   1   3   2   5   0
0   6   4   1   3   2   5   0
1  13  11   8  10   9  12   7
2  20  18  15  17  16  19  14
3  27  25  22  24  23  26  21
4  34  32  29  31  30  33  28

    0   1   2   3   4   5   6
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
1   7   8   9  10  11  12  13

2   -1
2   -1
0    5
3    6
3    6
4    4
0    5
1    7
1    7
4    4
dtype: int64

# 표시자, 더미 변수 계산

In [ ]:
df = pd.DataFrame({"key":["b","b","a","c","a","b"],
                   "data1":range(6)})
print(df,end="\n\n")
# float 형 df["key"] 값에 해당하는 더미 데이터프레임
print(pd.get_dummies(df["key"],dtype=float))

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

     a    b    c
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  1.0  0.0  0.0
3  0.0  0.0  1.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0

In [ ]:
# 더미로 만들어진 데이터프레임의 열 이름 앞에 key를 추가
dummies = pd.get_dummies(df["key"],prefix="key",dtype=float)
# 더미와 기존 데이터에 data1 컬럼을 합침
df_with_dummy = df[["data1"]].join(dummies)
print(df_with_dummy)

   data1  key_a  key_b  key_c
0      0    0.0    1.0    0.0
1      1    0.0    1.0    0.0
2      2    1.0    0.0    0.0
3      3    0.0    0.0    1.0
4      4    1.0    0.0    0.0
5      5    0.0    1.0    0.0

In [ ]:
# 데이터 셋 가져오기
# https://github.com/wesm/pydata-book/blob/3rd-edition/datasets/movielens/movies.dat
path = "/content/drive/MyDrive/study/Preprocessing/movies.dat"
mnames = ["movie_id","title","genres"]
movies = pd.read_table(path,sep="::",header=None,names=mnames,engine="python")
print(movies[:10])

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [ ]:
# 더미 변수 처리
dummies = movies["genres"].str.get_dummies("|")
print(dummies.iloc[:10,:6])

   Action  Adventure  Animation  Children's  Comedy  Crime
0       0          0          1           1       1      0
1       0          1          0           1       0      0
2       0          0          0           0       1      0
3       0          0          0           0       1      0
4       0          0          0           0       1      0
5       1          0          0           0       0      1
6       0          0          0           0       1      0
7       0          1          0           1       0      0
8       1          0          0           0       0      0
9       1          1          0           0       0      0

In [ ]:
# 열이름에 'Genre_' 추가
movies_windic = movies.join(dummies.add_prefix("Genre_"))
print(movies_windic.iloc[0])

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Action                                   0
Genre_Adventure                                0
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Crime                                    0
Genre_Documentary                              0
Genre_Drama                                    0
Genre_Fantasy                                  0
Genre_Film-Noir                                0
Genre_Horror                                   0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Romance                                  0
Genre_Sci-Fi                                   0
Genre_Thriller                                 0
Genre_War                                      0
Genre_Western                                  0
Name: 0, dtype: object

In [ ]:
np.random.seed(12345)
values = np.random.uniform(size=10)
print(values)
bins = [0,0.2,0.4,0.6,0.8,1]
print(pd.get_dummies(pd.cut(values,bins)))

[0.92961609 0.31637555 0.18391881 0.20456028 0.56772503 0.5955447
 0.96451452 0.6531771  0.74890664 0.65356987]
   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

# 확장 데이터 유형

In [ ]:
s = pd.Series([1,2,3,None])
print(s)
s = pd.Series([1,2,3,None],dtype=pd.Int64Dtype)
print(s)
print(s.isna())

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64
0       1
1       2
2       3
3    None
dtype: object
0    False
1    False
2    False
3     True
dtype: bool

In [ ]:
print(s[3])
print(s[3] is pd.NA)
# pd.Int64Dtype --> Int64로 줄여서 사용 가능
s = pd.Series([1,2,3,None],dtype="Int64")
print(s)

None
False
0       1
1       2
2       3
3    <NA>
dtype: Int64

In [ ]:
!pip install pyarrow
s = pd.Series(['one','two','None','three'],dtype=pd.StringDtype())
print(s)

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.22.4)
0      one
1      two
2     None
3    three
dtype: string

In [ ]:
df = pd.DataFrame({'A':[1,2,None,4],
                   "B":["one",'two','three',None],
                   "C":[False,None,False,True]})
print(df,end="\n\n")
df['A'] = df['A'].astype("Int64")
df['B'] = df['B'].astype("string")
df['C'] = df['C'].astype("boolean")
print(df)

     A      B      C
0  1.0    one  False
1  2.0    two   None
2  NaN  three  False
3  4.0   None   True

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True

# 파이썬 내장 문자열 객체 메서드

In [8]:
val = "a,b, guido"
# split
print(val.split(","),end="\n\n")
# strip
pieces = [x.strip() for x in val.split(",")]
print(pieces,end="\n\n")
# 문자열 연산
first,second,third = pieces
print(first+"::"+second+"::"+third,end="\n\n")
# join
print("::".join(pieces))

['a', 'b', ' guido']

['a', 'b', 'guido']

a::b::guido

a::b::guido

In [11]:
print("guido" in val,end="\n\n")
# index
print(val.index(","),end="\n\n")
# find
print(val.find(":"))

True

1

-1

In [12]:
val.index(":")

ValueError: ignored

In [15]:
print(val.count(","),end="\n\n")
print(val.replace(",","::"),end="\n\n")
print(val.replace(",",""))

2

a::b:: guido

ab guido

# 정규 표현식

In [19]:
import re
# 문자열 나누기
text = "foo     bar\t baz   \tqux"
print(re.split(r"\s+",text),end='\n\n')
# 직접 정규 표현식 컴파일 후 객체 재사용
regex = re.compile(r"\s+")
print(regex.split(text),end="\n\n")
# 매칭되는 모든 패턴 목록 얻기
print(regex.findall(text))

['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

['     ', '\t ', '   \t']

In [22]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo,com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
# 대소문자 구분 하지 않음
regex = re.compile(pattern,flags=re.IGNORECASE)

In [24]:
print(regex.findall(text),end="\n\n")
# search : 패턴과 일치하는 첫 번째 항목 반환
m = regex.search(text)
print(text[m.start():m.end()],end="\n\n")
# match : 문자열에 시작 부분에 일치하는 것만 찾음
print(regex.match(text),end="\n\n")
# sub : 찾은 패턴을 주어진 문자열로 치환하고 새로운 문자열 반환
print(regex.sub("REDACTED",text))

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com']

dave@google.com

None

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan ryan@yahoo,com

In [35]:
# 이름, 도메인, 도메인 접미사로 나누기
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern,flags=re.IGNORECASE)
m = regex.match("wesm@bright.net")
print(m.groups(),end="\n\n")

('wesm', 'bright', 'net')

In [34]:
# 패턴에 그룹이 있다면 findall 메서드는 튜플의 목록을 반환
print(regex.findall(text),end="\n\n")
# sub로 각 패턴 그룹에 접근 하기
# \1 : 첫번째로 찾은 그룹
# \2 : 두번째로 찾은 그룹
# \3 : 세번째로 찾은 그룹
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

[('dave', 'google', 'com'), ('steve', 'gmail', 'com'), ('rob', 'gmail', 'com')]

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan ryan@yahoo,com

# 판다스의 문자열 함수

In [44]:
data = {"Dave":"dave@google.com",
        "Steve" : "Steve steve@gmail.com",
        "Rob":"Rob rob@gmail.com",
        "Wes":np.nan}
data = pd.Series(data)
print(data,end="\n\n")
print(data.isna())

Dave           dave@google.com
Steve    Steve steve@gmail.com
Rob          Rob rob@gmail.com
Wes                        NaN
dtype: object

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [45]:
# gmail을 포함하는지 확인
print(data.str.contains("gmail"),end="\n\n")
# 타입 변환
data_as_string_ext = data.astype("string")
print(data_as_string_ext)

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

Dave           dave@google.com
Steve    Steve steve@gmail.com
Rob          Rob rob@gmail.com
Wes                       <NA>
dtype: string

In [46]:
# 정규 표현식을 사용
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
print(data.str.findall(pattern,flags=re.IGNORECASE))

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [51]:
matches = data.str.findall(pattern,flags=re.IGNORECASE).str[0]
print(matches,end="\n\n")
print(matches.str.get(1),end="\n\n")

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [52]:
print(data.str[:5],end="\n\n")
print(data.str.extract(pattern,flags=re.IGNORECASE))

Dave     dave@
Steve    Steve
Rob      Rob r
Wes        NaN
dtype: object

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN

# 범주형 데이터

In [57]:
values = pd.Series(["apple","orange","apple","apple"]*2)
print(values)

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [59]:
print(pd.unique(values),end="\n\n")
print(pd.value_counts(values))

['apple' 'orange']

apple     6
orange    2
dtype: int64

In [60]:
values = pd.Series([0,1,0,0]*2)
dim = pd.Series(['apple','orange'])
print(dim)

0     apple
1    orange
dtype: object

In [62]:
print(dim.take(values))

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [64]:
fruits = ['apple','orange','apple','apple']*2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit':fruits,
                   'basket_id':np.arange(N),
                   'count':rng.integers(3,15,size=N),
                   'weight':rng.uniform(0,4,size=N)},
                  columns=['basket_id','fruit','count','weight'])
print(df)

   basket_id   fruit  count    weight
0          0   apple     11  1.564438
1          1  orange      5  1.331256
2          2   apple     12  2.393235
3          3   apple      6  0.746937
4          4   apple      5  2.691024
5          5  orange     12  3.767211
6          6   apple     10  0.992983
7          7   apple     11  3.795525

In [67]:
# 범주형 데이터로 변환
fruit_cat = df['fruit'].astype('category')
print(fruit_cat,end='\n\n')
c = fruit_cat.array
print(type(c))

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

<class 'pandas.core.arrays.categorical.Categorical'>

In [69]:
# categorical 객체의 속성
print(c.categories,end='\n\n')
print(c.codes,end='\n\n')
print(dict(enumerate(c.categories)))

Index(['apple', 'orange'], dtype='object')

[0 1 0 0 0 1 0 0]

{0: 'apple', 1: 'orange'}

In [68]:
# 열을 범주형으로 바꾸기
df['fruit'] = df['fruit'].astype('category')
print(df)

   basket_id   fruit  count    weight
0          0   apple     11  1.564438
1          1  orange      5  1.331256
2          2   apple     12  2.393235
3          3   apple      6  0.746937
4          4   apple      5  2.691024
5          5  orange     12  3.767211
6          6   apple     10  0.992983
7          7   apple     11  3.795525

In [71]:
# 파이썬 시퀀스에서 범주형 데이터 생성
my_categories = pd.Categorical(['foo','bar','baz','foo','bar'])
print(my_categories,end='\n\n')
# 기존에 정으된 범주와 범주 코드로 범주형 데이터 생성
categories = ['foo','bar','baz']
codes = [0,1,2,0,0,1]
my_cat2 = pd.Categorical.from_codes(codes,categories)
print(my_cat2)

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [73]:
ordered_cat = pd.Categorical.from_codes(codes,categories,ordered=True)
print(ordered_cat,end="\n\n")
print(my_cat2.as_ordered())

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

# Categorical 연산

In [75]:
rng = np.random.default_rng(seed=12345)
draws = rng.standard_normal(1000)
print(draws[:5])

[-1.42382504  1.26372846 -0.87066174 -0.25917323 -0.07534331]

In [76]:
bins = pd.qcut(draws,4)
print(bins)

[(-3.121, -0.675], (0.687, 3.211], (-3.121, -0.675], (-0.675, 0.0134], (-0.675, 0.0134], ..., (0.0134, 0.687], (0.0134, 0.687], (-0.675, 0.0134], (0.0134, 0.687], (-0.675, 0.0134]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.121, -0.675] < (-0.675, 0.0134] < (0.0134, 0.687] <
                                           (0.687, 3.211]]

In [78]:
bins=pd.qcut(draws,4,labels=['Q1','Q2','Q3','Q4'])
print(bins,end='\n\n')
print(bins.codes[:10])

['Q1', 'Q4', 'Q1', 'Q2', 'Q2', ..., 'Q3', 'Q3', 'Q2', 'Q3', 'Q2']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

[0 3 0 1 1 0 0 2 2 0]

In [84]:
# groupby로 요약 통계 추출
bins = pd.Series(bins,name='quartile')
results = (pd.Series(draws)
          .groupby(bins)
          .agg(['count','min','max'])
          .reset_index())
print(results,end='\n\n')
# quartile 열은 bins 순서를
# 포함한 원래 범주 정보 유지
print(results['quartile'])

  quartile  count       min       max
0       Q1    250 -3.119609 -0.678494
1       Q2    250 -0.673305  0.008009
2       Q3    250  0.018753  0.686183
3       Q4    250  0.688282  3.211418

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [85]:
# 범주형을 활용한 성능 개선
N = 10_000_000
labels = pd.Series(['foo','bar','baz','qux'] * (N // 4))
categories = labels.astype('category')
print(labels.memory_usage(deep=True))
# categories가 더 적은 메모리를 사용
print(categories.memory_usage(deep=True))

600000128
10000540

In [86]:
# 범주형으로 변경하는 일회성 비용
%time _ = labels.astype('category')

CPU times: user 561 ms, sys: 148 ms, total: 708 ms
Wall time: 735 ms

In [88]:
# groupyBy의 성능
%timeit labels.value_counts()

700 ms ± 345 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [89]:
# value_counts()의 성능
%timeit categories.value_counts()

66.5 ms ± 6.33 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Categorical 메서드

In [94]:
s = pd.Series(['a','b','c','d']*2)
cat_s = s.astype('category')

print(cat_s,end='\n\n')

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [95]:
# cat 속성으로 Categorical 메서드 접근
print(cat_s.cat.codes,end='\n\n')
print(cat_s.cat.categories)

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

Index(['a', 'b', 'c', 'd'], dtype='object')

In [99]:
# 실제 데이터 범주의 종류를 알고있을 경우
# set_categories 메서드로 범주를 변경 가능
actual_categories = ['a','b','c','d','e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
print(cat_s2)

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [100]:
print(cat_s.value_counts(),end='\n\n')
print(cat_s2.value_counts())

a    2
b    2
c    2
d    2
dtype: int64

a    2
b    2
c    2
d    2
e    0
dtype: int64

In [101]:
# 관측되지 않는 범주를 제거
cat_s3 = cat_s[cat_s.isin(['a','b'])]
print(cat_s3,end='\n\n')
print(cat_s3.cat.remove_unused_categories())

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

# 모델링을 위한 더미변수 생성

In [104]:
cat_s = pd.Series(['a','b','c','d']*2,dtype='category')
pd.get_dummies(cat_s,dtype=float)

     a    b    c    d
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0
5  0.0  1.0  0.0  0.0
6  0.0  0.0  1.0  0.0
7  0.0  0.0  0.0  1.0